*{
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    margin: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vw;
    border-bottom: 5px solid black;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://images.squarespace-cdn.com/content/v1/61ecc45addcf48329c07ff9d/1642925597115-006ZUZ2SPJ0M8O14UWJ3/ACP_8889.jpg?format=2500w);
}

#header-buttons{
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-input{
    padding: 10px 30px;
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &:hover{
        background-color: rgb(214, 214, 214);
    }
}

footer {
    bottom: 0;
    width: 100%;
}

#container-footer{
    display: flex;
}

#container-footer-social{
    width: 50vw;
}

#container-footer-privacy-declaration{
    width: 50vw;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inner-footer {
    background-color: #212121;
}
  
.quick-links {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: flex-end;
}
  
.quick-links {
    display: flex;
    list-style-type: none;
    transition: 0.5s;
    padding: 0;
}
  
.quick-items{
    text-decoration: none;
    padding: 10px;
    font-size: 28px;
    color: white;
    transition: 0.5s;
}
  
.outer-footer {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: black;
}

#footer-logo{
    height: 35px;
    margin: 15px 0px 0px 20px;
}

.privacy-declaration-links{
    color: #EDEDED;
    transition: 0.5s;
}

.privacy-declaration-links:hover{
    color: white;
    transform: scale(1.2);
}


p {
    margin: 0;
}

nav {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    background-color: #EDEDED;
    align-items: center;
    width: 100%;
    border-bottom: solid black 3px ;
    position: sticky;
    top: 0;
}

a{
    color: black;
    text-decoration: none;
    margin-left: 10px;

    &:hover{
        color: black;
        transform: scale(1.1);
        padding-bottom: 3px;
        border-bottom: 1px solid black;
    }
}

.nav-logo {
    padding: 8px 40px;
    margin-left: 3vw   ;
    margin-right: 70vw;
    border-radius: 5px;
}

h1{
    color: white;
    font-size: 6em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    font-size: 3em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#appointment-form{
    background-color: #EDEDED;
    padding: 80px;
}

.products{
    padding: 5px 60px 20px 60px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.products section{
    text-align: center;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2ff;
    padding: 20px 0;
    border: 2px solid #000000;
    border-radius: 5px;
    flex: 1 1 auto;
}

.products img{
    width: 200px;
    height: 220px;
    border: 1px solid black;
    transition: 0.5s;

    &:hover{
        transform: scale(1.2);
        box-shadow: 5px 5px rgb(0 0 0 / 0.5);
    }    
} 


.products h3{
    font-size: 1.5em;
}

#products-container{
    text-align: center;
}

.tatoo-description{
    width: 200px;
    text-align: left;
    margin-left: 5px;
}

.rating-container{
    text-align: left;
}

.rating-star{
    color: rgb(240, 205, 11);
    font-size: 25px;
}

.view-button-container{
    display: flex;
    flex-direction: row-reverse;
}

#view-product-button{
    padding: 7px 25px;
    background-color: rgb(133, 133, 133);
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(109, 109, 109);
    transition: 0.5s;
    margin-right: 20px;

    &:hover{
        background-color: white;
        color: black;
        border: 2px solid black;
    }
}

.form-container {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
    border-top: 2px solid black;
}

form .form-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form-name-container{
    display: flex;
    gap: 2vw;
    flex-direction: row;
    justify-content: space-between;
}

#form-residence-birth-container{
    display: flex;
    gap: 2vw;
    flex-direction: row;
    justify-content: space-between;
}

.form-input{
    width: 40vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #89938a;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input-half{
    width: 18vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #89938a;
    border-radius: 4px;
    box-sizing: border-box;
}

.name-container{
    display: flex;
    flex-direction: column;
}

.form-input:hover{   
    border: 2px solid red;   
}

#radio-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.submit-input{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

input[type=submit] {
    background-color: black;
    width: 40%;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
}

div .label-text-input{
    margin-top: 20px;
}

.hidden {
    display: none;
}

#more-button{
    background-color: black;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
        background-color: white;
        color: black;
        border: 2px solid black;
    }
}

        /* Mobiel */

@media screen and (max-width: 480px) {
    nav {
        display: flex;
        gap: 10px;
        padding: 15px 0;
        background-color: #EDEDED;
        align-items: center;
        width: 100%;
        border-bottom: solid black 3px ;
        position: sticky;
        top: 0;
        flex-direction: column;
    }

    .nav-logo {
        padding: 8px 40px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
    }

    h1{
        color: white;
        margin: 11vw 0 0 0;
        font-size: 3em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
   
    .products{
        padding: 5px 60px 20px 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    form .form-input-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
    }

    form .form-input-container label{
        margin-left: 30px;
    }

    form .form-input-container input{
        margin-left: 10px;
    }

    form .form-input-container select{
        margin-left: 10px;
    }

    form .form-input-container textarea{
        margin-left: 10px;
    }
    
    #radio-container {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    #terms-conditions{
        margin-left: 30px;
    }

    input[type=submit] {
        margin-right: 30px;
    }

    #container-footer {
        display: flex;
        flex-direction: column;
    }

    #container-footer-social{
        width: 100vw;
    }
    
    #container-footer-privacy-declaration{
        width: 100vw;
    }

    .quick-links {
        justify-content: space-evenly;
    }

    #container-footer-privacy-declaration {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    #container-footer-privacy-declaration a{
        margin-left: 25%;
    }

    .form-input{
        width: 420px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #89938a;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .form-input-half{
        width: 420px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #89938a;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #form-name-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #form-residence-birth-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   
}

